:root {
  --main-color: rgb(108, 78, 78);
  --secondary-color: rgb(60, 60, 128);
  --header-color: rgb(171, 167, 167);
  --header-color-h1: rgb(42, 41, 41);
}

header {
  padding: 15px 6% 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--header-color);
}

header h1 {
  display: inline-block;
  font-size: 28px;
  color: var(--header-color-h1);
}

nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav li {
  padding: 0 50px;
  font-size: 20px;
}

nav li a {
  text-decoration: none;
  color: var(--secondary-color);
  border-bottom: 4px solid var(--main-color);
}

nav li a:hover {
  color: var(--main-color);
  border-bottom: none;
}

.hero-banner {
  background-color: rgb(30, 110, 240);
  background-image: url('../images/02-hero-bg.jpg'), linear-gradient(180deg, red 0%, blue 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 30vh;
  color: white;
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.hero-banner div {
  flex: 0 0 90%;
}

.hero-banner h2 {
  background-color:rgb(97, 153, 242);
  color: var(--main-color);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
}

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--secondary-color);
  font-size: 4vw;
  line-height: 1.1;
}

.page-section > div {
  flex: 0 0 77%;
  margin-left: 25px;
}

.page-section p {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 5px solid var(--secondary-color);
  background-color:var(--secondary-color);
  color: white;
  min-height: 150px;
  max-height: 150px;
  flex-basis: 47%;
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all .5s;
  font-size: .9rem;
}

.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, .3)
}

.flex-item div {
  background-color: var(--main-color);
}

.flex-item h3 {
  font-size: 1.6rem;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a {
  color: var(--main-color);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  background-image: linear-gradient(270deg,  0%, blue 100%);
  background-repeat:no-repeat;
  background-size: 100% .2em;
  background-position: bottom;
  transition: all .22s ease-in;
  display: inline-block;
  border-bottom: 4px solid var(--main-color);
}

.contact address a:hover {
  background-size: 100% 88%;
  color: var(--secondary-color);
}

.game {
  background-image: url(https://placehold.co/600x400);
  
}

.todo {
  background-image: url(https://placehold.co/600x400);
}

.drum {
  background-image: url(https://placehold.co/600x400);
}

.horiseon {
  background-image: url(../images/Horiseon_Website.png);
}

.shop {
  background-image: url(https://placehold.co/600x400);
}

@media screen and (max-width: 1600px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--header-color);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {
  nav li {
    padding: 0 20px;
    font-size: 20px;
  }

  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .hero-banner {
    justify-content: center;
    text-align: center;
  }

  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width:461px) {
  nav li {
    padding: 0 15px;
    font-size: 15px;
  }
}